@Styles.Render("~/Content/css")
@Scripts.Render("~/Content/js")

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>


<label id="label">SDIJODDIOWJIODWJIODJDIOOJI</label>
<input id="input" type="text"/>
