@Styles.Render("~/Content/background.css")
@Styles.Render("~/Content/login.css")

<div class="flex-container">
    <div class="background-color js-background-color"></div>
</div>
<main class="content">

</main>

