@Styles.Render("~/Content/css")
@Scripts.Render("~/Content/js")

<head>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script|Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="blurred" style="background-image: url(http://imageshack.com/a/img923/9671/uvBgcR.jpg);">

        <center>
            <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 450px; height: 600px; top:30px;">
                <center><img src="~/Content/educon img.png" style="width:175px; height: 175px;" /></center>

                <center><h3 style="font-family: 'Bebas Neue'; color: #258039; font-weight: bold;">Educando e Conscientizando!</h3></center>

                <center>

                    <div class="form" style="top: 400px;">
                        <div class="username">
                            <input type="text" placeholder="Usuário" />
                        </div>
                        <div class="password">
                            <input type="password" placeholder="Senha" />
                        </div>
                        <div class="login">
                            <span>log in</span>
                        </div>
                    </div>

                </center>
            </div>
        </center>
        </div>

</body>