@Styles.Render("~/Content/css")
@Scripts.Render("~/Content/js")

<head>

    <style>
        .input-hidden {
            position: absolute;
            left: -9999px;
        }

        input[type=radio] + label > img {
            height: 50px;
            width: 50px;
            transition: 500ms all;
        }

        input[type=radio]:checked + label > img {
            transform: scaleX(1.2) scaleY(1.2);
        }
    </style>

    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script|Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="blurred" style=" width:100%; height:100%; background-image: url(http://imageshack.com/a/img924/9477/OXk9f5.jpg); background-repeat: repeat;">

        <center>
            <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 450px; height: 620px; top:20px;">
                <div class="row" style="background-color:rebeccapurple; height:8%; top:0; width:100%;"></div>
                <br />
                <center><img src="~/Content/LOGO2.png" style="width:85%; height: 20%;" /></center>
             
                <div class="form" style="top: 375px;">

                 
                    <div class="username">
                        <input type="text" placeholder="Usuário" style="border-radius:10px; margin: 0 auto; margin-top:30px;" />
                    </div>
                    <div class="password" style="margin: 0 auto;">
                        <input type="password" placeholder="Senha" style="border-radius: 10px; margin: 0 auto; margin-top:30px;" />
                    </div>

                    <div class="form-group" style="height:50px;">

                        <button style="background-color:#ffd11a; border-bottom: 5px solid gold; text-shadow: 0px -2px gold; width:400px; height:130%; font-size: 3em;  margin: 0 auto;" type="submit">Login</button>
                    </div>
                    
                    <div class="form-group" style="height:50px;">

                        <button style="background-color:#00cc00; border-bottom: 5px solid #00cc00; text-shadow: 0px -2px #00cc00; width:400px; height:130%; font-size: 3em;  margin: 0 auto;" type="submit">Cadastre-se</button>
                    </div>
                 

                </div>
                <div style="position: absolute;background-color:rebeccapurple; height:8%; bottom:0; width:100%;"></div>

                </div>
        </center>   

    </div>
 

</body>